/* Variables  */
 :root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;
  
  --white: #fff;
  --black: #181818;

  --text: #474747;
}

/* Importing the fonts */
@font-face {
  font-family: "Montserrat";
  src: url('../fontes/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@Font-face {
  font-family: 'Montserrat';
  src: url('../fontes/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fontes/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* general styles */
body {
  font: 500 1.6rem 'Montserrat'; 
  background-color: var(--bgSite);
}

p {
  font-size: 1.8rem;
}

h2 {
  font-size: 3.2rem;
}