.container {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 360px;
}

.sale,
.footer {
  padding: 15px 20px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 500;
}

.title {
  padding: 20px;
  text-align: center;
  font-size: 2.4rem;
}

.sale {
  font-size: 1.6rem;
  text-align: center;
}

.banner {
  padding: 120px 100px; 
  color: var(--white);
  position: relative;
}

.banner::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url('../img/wallpaper.jpeg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner h2 {
  margin-bottom: 2rem;
  font-weight: 700;
}

.banner p {
  width: 50%;
  line-height: 3.5rem;
  font-weight: 600;
}

/* featured products */
.featured-products {
  width: 100%;
  padding: 60px 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-products h2 {
  line-height: 5.5rem;
  padding: 5px 0;
  font-weight: 600;
}

.featured-products .products {
  width: 100%;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  place-content: center;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.featured-products .products .tennis-container {
  padding: 75px 25px;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  background-color: var(--bgCard);
  border-radius: 3px;
  box-shadow: -3px 5px 10px 0px #0003;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.featured-products .products .tennis-container .description {
  margin-top: 10px;
  padding-left: 30px;
}

.footer p {
  text-align: center;
}

/* Media hover */

@media (hover: hover) {
  .featured-products .products .tennis-container:hover {
    box-shadow: -6px 15px 10px 0px #0004;
    transform: translateY(-5%);
  }

  .featured-products .products .tennis-container:hover > img {
    transform: scale(1.3);
  }
  
  .featured-products .products .tennis-container .description {
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 30%;
    transform: translate(-50%, 100%);
    pointer-events: none;
  }

  .featured-products .products .tennis-container:hover .description {
    transform: translate(-50%, -50%);
    pointer-events: all;
  }

  .featured-products .products .tennis-container,
  .featured-products .products .tennis-container:hover,
  .featured-products .products .tennis-container > img,
  .featured-products .products .tennis-container:hover > img,
  .featured-products .products .tennis-container .description,
  .featured-products .products .tennis-container:hover .description {
    transition: all 400ms ease;
  }
}

/* Media width */

@media (max-width: 810px) {
  .banner p {
    width: 70%;
    text-align: justify;
  }

  .tennis-container {
    flex: 1;
  }
}

@media (max-width: 810px) {
  .banner p {
    width: 90%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.8rem;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  .sale {
    font-size: 1.2rem;
  }

  .banner {
    padding: 120px 20px;
  }

  .featured-products {
    padding: 50px 20px;
  }

  .featured-products p {
    text-align: center;
    width: 100%;
  }

  .featured-products .products {
    gap: 30px;
  }
}